body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 60vw;
  height: 60vh;
  margin-top: -5px;
}
.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-title {
  display: inline-block;
  padding: 14px 32px;
  background-color: #1b556c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #14424f;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.back-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 12px 24px;
  background-color: #070c07;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.back-link:hover {
  background-color: #070c07;
  transform: scale(1.05);
}
.back-link:active {
  background-color: #070c07;
  transform: scale(1);
}
